[2013-08-09 06:57] activescott opened #1 "Add support for Windows Installer Patch files (.MSP)"
From https://code.google.com/p/lessmsi/issues/detail?id=2

[2013-08-09 06:59] activescott opened #2 "Add feature to detect and reset NoImpersonate flag on .MSI files that won't work well with UAC in Vista/Win7"
From https://code.google.com/p/lessmsi/issues/detail?id=3

[2013-08-09 06:59] activescott opened #3 "Make it work on Mac/Linux"
from https://code.google.com/p/lessmsi/issues/detail?id=5

[2013-08-09 07:01] activescott opened #4 "Support external cabs (.cab files not embedded in the msi)"
from https://code.google.com/p/lessmsi/issues/detail?id=7

[2013-08-09 07:02] activescott opened #5 "Support DVD-wide aggregation/listing of all files in all CABs on from a DVD"
From https://code.google.com/p/lessmsi/issues/detail?id=9

[2013-08-09 07:03] activescott opened #6 "Cannot extract cab from InstallShield msi's (Extract failed: Failed to close cab extract object, errror: 2)"
from https://code.google.com/p/lessmsi/issues/detail?id=27

[2013-08-19 05:48] BHeshka opened #7 "Program will not close on Windows 8"
Program will not close if it is the frontmost window when clicking x.  If it is not the front most window it seems to close.  also right clicking on taskbar icon and selecting close will close it. Running windows 8

[2013-09-07 08:42] mnbf9rca opened #8 "can't download any more!"
where are the compiled executables?

[2013-09-09 16:12] #8 closed, assigned to nobody

[2013-09-10 14:16] PartTimeLegend opened #10 "Licence"
Please also add a licence to this repo.

[2013-09-13 04:31] #10 closed, assigned to nobody

[2013-09-13 04:49] #7 closed, assigned to nobody

[2013-09-15 06:55] activescott opened #11 "Update chocolatey to use github for downloads instead of gcode"

[2013-11-22 04:15] icnocop opened #12 "Add the Component column to the "Extract Files" grid"
Thank you for lessmsi.

I would like to request that the Component column be added to the "Extract Files" grid.

In this way, I can sort by the Component column and then select only the 5 files in that component to extract, as opposed to the 100 other files in the msi for example.

Thank you.

[2013-11-25 02:43] #12 closed, assigned to nobody

[2013-11-25 04:18] #11 closed, assigned to nobody

[2013-12-06 07:34] #4 closed, assigned to nobody

[2014-01-18 19:40] ferventcoder opened #15 "[BUG] Cannot depend on LessMSI chocolatey package"
`External packages cannot depend on packages that target projects` is the error I get. This used to mean that there was a lib/content folder somewhere in the package, but I see that the package is properly doing that.

These lines are causing the issue. If I remove those lines it will install successfully.

[code]

[2014-02-16 11:50] cccp2 opened #17 "I cannot open the file! [ASAP]"
I have Win xp sp2,
it has the error  "The application failed to initialize properly (0xc0000135). Click on OK to terminate the application"

[2014-02-18 16:09] danste opened #18 "command line mode, lessmsi issues 3x enter on failure"
when using lessmsi in commandline mode it seems that 'enter' is three times pressed/send to the parent process after an unsuccessful unpacking attempt.

[2014-02-21 16:30] bastianeicher opened #19 "Extract logic to DLL"
If I were to split the project into two parts (logic DLL and GUI EXE) would you be interested in merging that back into your master?
Are there any pitfalls I should be aware of? Any naming suggestions for the new assemblies? `LessMsi.Core.dll` and `LessMsi.exe` perhaps?

I'm working on a cross-platform package manager called [Zero Install](https://github.com/0install/0install-win). It is designed

[2014-02-21 22:50] icnocop opened #20 "Ability to extract files from the Binary table"
Thank you for lessmsi 1.1.6.

I would like to request the ability to extract files from the Binary table.

Thank you! :)

[2014-03-01 22:55] activescott opened #23 "Existing tests are dependent on specific directory"
Existing "ExpectedOutput" files used to run unit tests all begin with `C:\projects\lessmsi\src\Lessmsi.Tests\bin\Debug\<msiFileName>` and they should be relative. Otherwise anyone trying to run tests must have the project running from `C:\projects\lessmsi\src\Lessmsi.Tests\bin\Debug\<msiFileName>`.
Remove the root of this path or make the tests resilient enough to ignore that portion of the paths

[2014-03-01 23:53] #23 closed, assigned to activescott

[2014-03-02 04:14] activescott opened #24 "Preserve lessmsi.exe as the cli filename"
Related to issue #19, I was just thinking that since some people might be using command line arguments to lessmsi.exe in applications, it makes sense to preserve lessmsi.exe for the cli version of the app. This would prevent people that already rely on lessmsi.exe in scripts or other places to do any updates.

[2014-03-02 04:15] activescott opened #25 "Bring back the -o command to the gui"
As part of the implementation to issue #19, we removed the old -o command line option (to open a MSI in the GUI). I think we can reasonable preserve this functionality by running the gui in a separate process to reasonably preserve existing functionality.

[2014-03-02 07:42] #24 closed, assigned to activescott

[2014-03-02 07:43] #25 closed, assigned to activescott

[2014-03-02 07:44] #19 closed, assigned to nobody

[2014-03-02 07:45] #18 closed, assigned to nobody

[2014-03-02 07:46] #17 closed, assigned to nobody

[2014-04-20 07:29] #15 closed, assigned to nobody

[2014-05-29 13:18] csjjpm opened #27 "Basic summary MSI Information"
Hi,
  I've just tried your lessmsi tool and I would use it if it had better basic MSI information in the summary.  I just want to get the 'Description', 'Version' and uninstall string GUID so I can copy the string and use in a package for deployment.
  Would it be possible to add these to the summary page?
thanks
Paul

[2014-07-28 05:27] DARO75 opened #29 "Less MSIérables Symbol (Icon)"
Less MSIérables is a very good tool, but why has Less MSIérables no symbol (Icon) ?
Could please create a Symbol?

it would be very good! a resolution of 256x256 would be perfect!

[2014-07-28 11:04] DARO75 opened #30 "Windows Explorer Integration doesn't work on 64-bit Win7"
Lessmsi also integrates with Windows Explorer so that you can right-click on a Windows Installer file (.msi file) and select "Extract Files" to extract it into a folder right there:

they test it under Windows 7 64-bit?
he can not open the. msi file! (ERROR:Failed to open file)
the parameters are not correct!

[2014-08-24 05:28] activescott opened #32 "File Version is not set to correct version"
File version appears as 0.0.0.0 on Win8 Tooltip popup. Need to set attribute or compile option?
Minor.

[2014-08-24 05:31] activescott opened #33 "Double-clicking on it in Win8x64 prompts to install .NET 3.5"
This machine also has VS2012 on it (w/ .NET 4.5.50709), so .NET should not be necessary install. WTF?

![screen shot 2014-08-23 at 10 30 06 pm](https://cloud.githubusercontent.com/assets/213716/4022666/cdb7bd52-2b4f-11e4-96cd-57ebe6374941.png)
![screen shot 2014-08-23 at 10 33 34 pm](https://cloud.githubusercontent.com/assets/213716/4022675/4db67c28-2b50-11e4-8f32-5de77204af92.png)

[2014-08-24 05:48] activescott opened #34 "Use .NET Native to remove dependency on .NETFX"
http://msdn.microsoft.com/en-us/vstudio/dotnetnative.aspx

[2014-09-10 05:42] #33 closed, assigned to activescott

[2014-09-10 21:09] quider opened #38 "File version is invalid"
According to msdn article: http://msdn.microsoft.com/en-us/library/system.reflection.assemblyversionattribute.aspx version you set up is invalid because there is possibility to make "fresher" build with lower version number.
 [assembly:AssemblyVersion("1.0.10.*")] specifies 1 as the major version, 0 as the minor version, 10 as the build number, and accepts the default revision number. The default

[2014-09-12 07:31] #30 closed, assigned to nobody

[2014-09-12 22:49] quider opened #39 "Search file filter"
Hi!
I'm really happy you decided to merge my code to master branch but your changes in functionaliy I wrote made some errors.

Ctrl + f enables search panel but you can't turn it off
No button "remove filter"
Search pannel is not movable and when you move main window it stays.

I suggest to back to my commit but move search pannel to bottom of table grid or under table grid instead of columns name

[2014-09-14 05:35] wdscxsj opened #40 "List file info for the command-line version"
lessmsi.exe can list msi tables, but seeing what files are in an msi is more important. Please consider adding this feature to lessmsi.exe. Thanks.

[2014-09-15 06:33] activescott opened #41 "most recently used files don't persists across runs of the exe"
1. launch lessmsi-gui.exe and open a file.
2. Note that it appears in the File > MRU list.
3. Exist/close the app
4. Re-open the app
5. Notice that the MRU list is empty.

happens in v1.1.7

[2014-09-16 04:18] #38 closed, assigned to nobody

[2014-09-16 04:18] #40 closed, assigned to nobody

[2014-09-17 03:25] #39 closed, assigned to activescott

[2014-09-17 03:40] #32 closed, assigned to nobody

[2014-09-19 04:01] #41 closed, assigned to nobody

[2014-09-19 04:11] activescott opened #43 "Put github committer names in about box as contributors"
pull them from github API and dispaly in about box. part of build script.

[2014-12-09 07:42] JoePlant opened #44 "Command line help doesn't work for "l" option"
I was trying to dump the Component table to csv and used the following command line as shown below.

[code]

The command line used is consistent with the help dialog but shows the error message `Error: You must specify the table name to list.`

After searching the source code, I found that the l option actually requires the table to be specified as `-t Component`.  The -t is missing from the help

[2014-12-09 07:47] JoePlant opened #45 "Add a command line option to dump all the tables to a destination directory."
At the moment, the lessmsi command line allows the dumping of a single table to stdout.

I would like a command line option to dump all the tables in the msi to a set of msi files in the specified directory (or an Excel file).

A possible command line might be:
 lessmsi t -csv <msi_name> <path_for_csv_files>

t : means table output
-csv : use csv format

[2015-02-15 15:05] AGBrown opened #46 "Using windows explorer context "Copy as path" output causes ArgumentException"
Windows explorer (since Win 7) provides the "copy as path" context menu command to get file path. However it encapsulates the file path on the clipboard with double quotes (e.g. `"C:\path\to\my\file.txt"`). This causes `new FileInfo(txtMsiFileName.Text);` in `ReloadCurrentUIOnEnterKeyDown` to throw an `System.ArgumentException:  Illegal characters in path.`, or the user has to do some tedious <kbd

[2015-02-19 08:38] activescott commented on #46
Appreciate this Andrew! I will test this out and merge as soon as I have a minute free from work. It will probably be this weekend. Thanks for the PR !

[2015-02-19 10:04] AGBrown commented on #46
My pleasure Scott. It's a great little tool.
On Thu, Feb 19, 2015 at 8:38 am, scott willeke <notifications@github.com> wrote:Appreciate this Andrew! I will test this out and merge as soon as I have a minute free from work. It will probably be this weekend. Thanks for the PR !

—Reply to this email directly or view it on GitHub.

[2015-02-27 09:12] john550 commented on #3
is is possible to use lessmsi on linux.

[2015-02-28 23:33] activescott commented on #3
Not yet, but the cab extraction code does all work on Linux now. So we're half way there. The part that need some work is the MSI code which is a combination of OLE Compound Files (aka Structured Storage) and a special MSI-specific database. I think the most reasonable thing to do is to use the WINE libraries (or their source?) to get the last part done.

Always glad to help you along if you're in

[2015-03-13 19:10] jgstew commented on #3
I have a very specific use case in which I need to get the MSI ProductVersion from the Property table of an MSI file using the command line.

I still have not figured out how to do this using the command line and lessmsi on OS X, but I do have the lessmsi GUI working with WineBottler.  http://winebottler.kronenberg.org/

You can download the zip compressed .app I made here:  https://dl.dropboxuser

[2015-03-21 03:51] ctaggart opened #49 "error extracting from `X86 Debuggers And Tools-x86_en-us.msi`"
![image](https://cloud.githubusercontent.com/assets/80104/6763629/b5b291c2-cf42-11e4-8a6c-5aec0b0ed821.png)

This is an msi that comes with WDK. If you need help locating it let me know.

C:\Program Files (x86)\Windows Kits\8.1\Debuggers\Redist\X86 Debuggers And Tools-x86_en-us.msi

[2015-03-24 06:02] activescott commented on #46
this was refactored a bit and merged. Thanks @AGBrown

[2015-03-24 06:02] #46 closed

[2015-03-24 06:48] #49 closed

[2015-03-25 03:38] activescott commented on #49
@ctaggart I would love it if you could review this issue and confirm that it is fixed in release v1.3: https://github.com/activescott/lessmsi/releases/tag/v1.3

Thanks!!

[2015-03-26 02:00] activescott opened #50 "Error messages on commandline with WinBottler?"
Readme indicates errors are displayed on the command line when using it via winebottler. Investigate and fix.

[2015-04-02 18:00] treaki opened #51 "my msi isnt working"
hi,

my msi file isnt working:

[code]

[2015-04-02 18:02] treaki commented on #51
sry, my fault, disk was full. but a more specific error message on this would be helpful

[2015-07-23 08:22] DARO75 opened #52 "lessmsi does not work..."
does not work with Windows 10 Build 10240! old .NET Version! Can you please publish a fully supported version? Thx's

[2015-11-01 05:17] activescott commented on #52
I've finally got my hands on a copy of windows 10 to test with and found that almost everything works. The only thing that isn't working is the [Windows Explorer Integration](https://github.com/activescott/lessmsi#windows-explorer-integration): When attempting to add the shortcut it prompts to install .NET v3.5:
![screen shot 2015-10-31 at 10 10 27 pm](https://cloud.githubusercontent.com/assets/21

[2015-11-06 05:35] #52 closed

[2015-11-06 05:45] activescott commented on #50
would be great to have someone else who is using winbottler express interest in having this resolved.

[2015-12-24 22:26] msitekkie opened #54 "Extract Registry to .REG files - Suggeston"
The major feature of lessmsi is the ability to extract files easily. The ability to work with the MSI tables is of course already available in ORCA and Insted/Instedit.

What would be a major complementary feature however would be the ability to extract registry from an .MSI into .REG files.

[2015-12-25 20:06] activescott commented on #54
@msitekkie Thank you for the suggestion! More than happy to consider it. Can you give a specific example of what you're trying to accomplish by "extract registry"? What registry entries are you try to extract and why?

[2015-12-25 22:42] msitekkie commented on #54
Well, now that’s a very fair question and not so easy to answer off the top of my head. I know it is something I have wanted to do at various times in the past mainly while working as an Application Repackager, but difficult to remember specifics. InstallShield of course already has this capability, but many people can’t afford InstallShield.

I think it’s mostly been where I have wanted to transf

[2016-01-13 09:26] czechdude opened #55 ""lessmsi x from to" in powershell does weird things"
I try to extract msi to a folder with

PS>lessmsi x "D:\path to .msi" "D:\destination\pa th"

and it extracts the msi file to D:\ and tries to lookup some file called "D:\destination\pa th" in the msi archive:

Extracting 'D:....msi' to 'D:\'.
File D:\destination\pa th" was not found in the msi.

I installed the lessmsi latest from chocolatey.org into my powershell.

[2016-01-13 10:05] czechdude commented on #55
so the problem seems to be the space in the output dir...

[2016-01-27 14:02] wyatt8740 commented on #3
Just want to throw it out there that I've been able to use Less MSIerables in linux with wine after doing `winetricks dotnet40`. It's probable that wine's version of mono works as well - I can get a GUI to come up in the linux-native version but can't open MSI files due to the windows-specific code.

I think it's quite probable that it could be compiled with libwine, but don't have the hard disk s

[2016-01-27 18:20] jgstew commented on #3
I am able to use it on a Mac, and it doesn't have any windows-specific code outside of whatever is in Wine.

[2016-01-29 04:02] wyatt8740 commented on #3
well as wine consists of alternative API's for windows-only code, you're saying the wine team has done it's job well - not that it's actually a portable program. Right?

[2016-01-29 04:25] jgstew commented on #3
Yes, Wine's code is windows specific, just not written by Microsoft.

LessMSI is not a portable program, but it works through Wine on the Mac, which doesn't have anything to help it run other than Wine and anything installed with Winetricks.

[2016-02-20 17:34] necrose99 opened #56 "Wix EXE's /MSI's"
Used to -x or -extract would do, and Intel had zips... but no more...
but to package drivers and no fluf to update server......
WIX tool kit makes EXE/MSI , cant get the msi out of exe anymore  "go for Intel inside" .  to just get at drivers.
also rather handy to slip into USB/iso key , boot/wim so I don't have windows nagging about 10 drivers on dozens of machines.  (NTlite and done.  can add mis

[2016-02-22 17:45] activescott commented on #56
Huh?

[2016-03-13 05:28] activescott commented on #56
I don't understand the request/report here so I'm closing this one. If you can clarify in a comment happy to reopen.

[2016-03-13 05:28] #56 closed

[2016-03-13 05:30] activescott commented on #51
Thanks for the follow-up. We'd have to do an extra explicit check for disk space since Windows doesn't give us a great error here. Feels like we shouldn't do that for now, but let me know if you disagree.

[2016-03-13 05:30] #51 closed

[2016-03-29 22:03] necrose99 commented on #56
I'm just hoping an **improved plugin** , might get at these painful  exe's that unpack to wixtoolset  MSI , so you can use lessmsi to unpack them without all the fuss, and more seamless , just pick exe you know has difficult to unpack msi , get msi or unpack it all.
-- however at your leisure.

some wix based MSI/other (wix exe unpack msi ) in the EXE ,
**IE drivers from Intel **
<p>or others so f

[2016-04-01 17:54] mirh opened #57 "Error when extracting a file in the same folder where installer resides"
![cattura](https://cloud.githubusercontent.com/assets/9366725/14215465/7bf4bfc0-f843-11e5-91cc-a463004f9738.PNG)

[2016-04-02 03:27] activescott commented on #57
Can you please provide the link to the installer file that causes the problem?

[2016-04-02 10:22] mirh commented on #57
Sure, as you may notice, it's microsoft Windows SDK 10.
You first need to download files "for another computer" with the [downloader](http://download.microsoft.com/download/6/A/2/6A2ECE81-C934-4E47-91CC-52DA00A65345/sdksetup.exe), then try to extract one of the .msi files.

[2016-04-08 18:09] mattiase opened #58 "extraction fails for long path names"
Extraction (`lessmsi x`) fails if the combined length of the destination directory and a file in the MSI exceeds the usual 260 character limit:

[code]

(The path names in the example above has been edited; pretend they are much longer.)

Despite using a relative path name for the extraction directory (`destdir\`), it is being converted to an absolute file name when the file is extracted. Permitti

[2016-04-09 04:45] activescott commented on #58
This error is coming directly from the low-level CAB APIs which is a native C lib calling Win32 and not .NET - so it isn't .NET causing these errors. That code is all checked in at https://github.com/activescott/libmspack4n if you want to investigate and provide a fix that works with the longer file names using whatever Win32 APIs work (while still validating file paths). As long as the code is cl

[2016-04-11 14:55] mattiase commented on #58
Thank you. I did some experiments with libmspack4n in order to move the handling of long paths there, as you suggested, and it almost works: while the call to `mspack_invoke_mscab_decompressor_extract` handles long paths correctly, the same method (`ExtractTo`) then proceeds with some time-stamp and attribute modification in .NET code which I had to comment out. Converting those (`File.SetCreation

[2016-04-13 16:51] activescott commented on #58
@mattiase Thanks! I have no concerns on the approach. As long as tests pass, I'll pull it.

[2016-04-17 20:11] mattiase commented on #58
Good, I shall have a patch finished by tomorrow. Right now the tests don't work outside your timezone; something needs to be done about that. The timestamps in .CAB files lack any timezone information and are treated as local times when files are extracted. However, the metadata reference files for the tests contain dates with specified timezones, making them absolute points in time. As a result,

[2016-04-18 07:01] activescott commented on #58
thanks. love the idea of removing timezone suffix from generation code and test files!
Looking forward to the PRs!.

[2016-04-19 08:17] mattiase commented on #58
The pull requests are there, one for libmspack4n and one for lessmsi.

[2016-04-22 07:29] activescott commented on #58
Thanks for the PRs! I'll get to these as soon as I can. Probably this weekend. Thanks again!

[2016-04-25 05:23] activescott commented on #58
@mattiase thanks again for the PRs. Can you point me to a msi that actually exhibits this problem so that I can double-check it before creating a release?

[2016-04-25 10:23] mattiase commented on #58
You can use any MSI that you have, as long as you unpack it into a directory long enough so that the combined length of the base directory and at least one of the files in the MSI exceeds 260 characters.

For instance, the longest file name inside `python-2.7.3.msi` file in your tree is `SourceDir/Windows/winsxs/x86_microsoft.vc90.crt_1fc8b3b9a1e18e3b_9.0.21022.8_none_bcb86ed6ac711f91/x86_Microsof

[2016-04-27 17:21] activescott commented on #58
Doh, guess I should have thought that through, but thanks for the specific example. I gave this a shot and even with the libmspack4n updates, still encounter a problem. Seems that GetTargetDirectory in Wixtracts (LessMsi.Core) is trying to use System.IO to identify the target directory and it ran into problems. I'm working on fixes for that, but before I continue, I want to make sure that I'm not

[2016-04-27 21:27] mattiase commented on #58
It does work for me in the extract-all-to-directory form, `lessmsi x package.msi destdir\`, and that's what we primarily use lessmsi for. Are you selecting a specific directory to extract?

Yes, those "extended" paths aren't recognised much even by Microsoft's own tools, but often they are the only way out. I mostly use cygwin too.

[2016-05-03 15:40] mattiase commented on #58
It is true that if the combined length of the destination root directory and the longest _directory_ of any file being extracted exceeds 260 characters, then extraction still fails (in `GetTargetDirectory`, as you observe). That was not a problem I had, but someone else might; in that case, a few more operations need to be replaced with win32 calls: `Directory.CreateDirectory` in `GetTargetDirecto

[2016-05-06 06:18] activescott commented on #58
@mattiase sorry for my delay on this. Thanks for confirming that I'm not missing anything. I have a local branch here where I'm working on this. I'm swamped right now with a combination of work and personal activities, but I hope to get back to this and wrap it up over the next week or two.

[2016-05-10 17:07] activescott commented on #58
@mattiase could you please try the branch at https://github.com/activescott/lessmsi/tree/tested_support_for_long_paths and see if it works for you and your needs. I tried to add support throughout. If you run into something not working I'd love to have a test added.

[2016-05-13 09:39] mattiase commented on #58
That branch (`tested_support_for_long_paths`) works for my purposes (absolute path of longest destination file exceeds 260 characters but not its parent directory), but it already worked after my submitted fix that you commited.

However, even in this branch, I wasn't able to extract `python-2.7.3.msi` to a directory 166 characters long; the call to `Directory.CreateDirectory` in `LessMsi.Msi.Wixt

[2016-05-16 10:40] activescott commented on #58
Okay the branch at https://github.com/activescott/lessmsi/tree/tested_support_for_long_paths contains a longer output path which revealed more issues throughout the code and this latest commit now has a fix for them.

@mattiase I will be grateful if you can give that code a quick build and test to make sure it's all working for you now.

[2016-05-16 16:17] mattiase commented on #58
Thank you! It seems to work as far as I have tested it, but I haven't tried it on UNC paths, and I wonder if the conversion to extended path form is done correctly. Unless I'm mistaken, the long form of `\\server\thing\stuff` is not anything like `\\?\\\server\thing\stuff` but literally `\\?\UNC\server\thing\stuff`, as implemented in `MSCompressedFile.LongFilename`.

[2016-05-17 08:59] mattiase commented on #58
I tried extracting to an UNC path, and it does not work at all (even for short paths) because of the reason described in my previous comment.

[2016-05-20 08:04] activescott opened #60 "Switch NUnit to VS Unit Testing"
I loathe to do this on one hand because I always thought that MSFT should support and improve NUnit rather than creating another unit testing tool (at least be completely compatible with it). However, I've found NUnit is now unbearable to use with VS 2015 and .NET frameworks. It is extremely difficult to figure out that you need to install several add-ons and weird packages just to see unit tests

[2016-05-20 08:07] activescott opened #61 "Refactor IO libraries out of core code"
With the helpful addition of issue #58 , what should be simple file IO code has kind of bled through the codebase and made it ugly. It's also going to be more difficult to ever get the code working on mac/linux (should I ever follow through on issue #3 ). So I think it is necessary to refactor the File I/O code into its own library.

[2016-05-20 08:12] activescott commented on #61
LessIO is born: https://github.com/activescott/LessIO

[2016-05-20 08:16] activescott commented on #58
Thanks for the feedback. Its on my list

[2016-05-22 09:55] activescott commented on #61
- [ ] Use nuget package at https://www.nuget.org/packages/LessIO/

[2016-05-22 23:42] activescott opened #62 "Consume libmspack4n as a nuget package"
After https://github.com/activescott/libmspack4n/issues/4 , consume it.

[2016-05-23 07:26] activescott opened #63 "appveyor"
Well duh, I didn't know we had one of these for windows that was free: http://www.appveyor.com/

[2016-05-27 00:24] activescott opened #65 "add ms quality tools unit test framework as a nuget pkg/ref"
based on [this build failure](https://travis-ci.org/activescott/lessmsi/builds/132138527) looks like we need to add [this as a nuget pkg](https://www.nuget.org/packages/Microsoft.VisualStudio.QualityTools.UnitTestFramework) instead of as a standard reference.

[2016-05-30 06:17] activescott opened #66 "use appveyor for deployments"
Deploy directly from appveyor to nuget/github releases using the following tricks:
- [ ] Only deploy master: http://www.appveyor.com/docs/deployment#conditional-deployment
- [ ] Only deploy when tagged: http://www.appveyor.com/docs/deployment#deploy-on-tag-github-and-gitlab-only
- [ ] Publish github release http://www.appveyor.com/docs/deployment/github
- [ ] Use Secure Variables for chocolatey ht

[2016-05-30 06:25] #61 closed

[2016-05-30 06:25] #62 closed

[2016-05-30 06:25] #65 closed

[2016-05-30 06:25] #60 closed

[2016-05-30 06:27] activescott commented on #63
fixed as part of #67

[2016-05-30 06:27] #63 closed

[2016-05-30 06:35] activescott commented on #58
Only thing left is:
- [ ] UNC Paths in activescott/LessIO#3

[2016-06-07 06:42] kiquenet opened #68 "Portable version?"

[2016-06-16 22:27] xavierdecoster opened #69 "LessMSI.Core as stand-alone API"
Would be awesome if there was a lightweight .NET API (in similarity to Sharpziplib) that allowed one to simply point to a file path, open an MSI archive stream, fetch files from it, etc.

Looks like LessMSI.Core may meet that demand?
I, for one, would give that NuGet package a try :)

[2016-06-19 07:57] activescott commented on #69
@xavierdecoster Thanks for taking the time to request this. I think this could be done easily and quickly with the following steps:

- [ ] Create a target in [lessmsi.build][build-url] for building the nuget package for lessmsi.core. It should be almost identical to what's done for packaging LessIO at https://github.com/activescott/LessIO/blob/master/src/.build/lessio.msbuild#L118
- [ ] NOTE: [Les

[2016-07-04 14:04] salsifis opened #70 "lessmsi.exe crashes on a substed drive"
Suppose I do the following:

[code]

Then it crashes. If I run, however, `%HOMEPATH%\Applications\lessmsi.exe`, then it will run smoothly.

[2016-07-04 23:51] activescott commented on #70
No idea why that might happen. A stack trace might help point in the right direction. Would be happy to accept a pull request for this.

[2016-08-05 10:59] mirh commented on #68
Isn't default release already portable?

[2016-08-05 20:32] vatterspun commented on #68
To be clear, when we're talking about portability, we're not just talking about "can it run from a USB drive"?  We're talking about whatever settings you change, they stay with the program, regardless of the medium it's launched from (USB, DropBox, OneDrive, etc.)  Re-running a process or re-changing a setting on each computer is not portable.

To that end:

* Command-line tools are very rarely an

[2016-08-06 06:55] Bioruebe commented on #55
To clarify the issue:
First of all, you forgot the trailing backslash. The documentation says : The path to extract the files to MUST have trailing backslash or it will be treated as one of the file_names.

But even with the backslash it wouldn't work :D
The real problem is the `\"` parsing method of .NET. See [this StackOverflow question](http://stackoverflow.com/q/9287812) and the remarks sectio

[2016-08-06 08:06] mirh commented on #68
XP has NET 4.0
What's the matter then?

[2016-08-06 17:09] vatterspun commented on #68
Only some XP machines will have the latest dotNET installed.  If you're on a slow network connection, it can be difficult to download (~50 megs) and if you're using a public computer, you probably don't have admin rights to add it.  However, it's also possible that updated dotNET tools and capabilities may not work for XP, whose version of dotNET is not being managed by Microsoft (to my knowledge)

[2016-08-12 04:24] activescott commented on #68
I think it's reasonably portable and it seems others agree. Happy to consider pull requests to save recent file list somewhere else, but IMHO not important.

Frankly, I don't have WinXP readily available to test with, but I make an effort to stay on the oldest (i.e. most compatible) version of .NET that I can. Everything that is distributed is still on .NET 4.0 (although unit testing is now on .NE

[2016-09-04 05:11] activescott opened #72 "add nuspec enhancements for chocolatey"
You might look at adding all of the new nuspec enhancements so folks can see where the docs are, where the mailing list is, etc. https://github.com/chocolatey/choco/issues/205
- projectSourceUrl
- packageSourceUrl
- docsUrl
- mailingListUrl
- bugTrackerUrl
- replaces
- provides
- conflicts

**More importantly** a specific list  of actionable nuspec changes to make and what the preferred values sho

[2016-09-04 05:49] activescott opened #73 "choco fix for upcoming checksum requirement"
Looks like for legacy (or ignorance) reasons lessmsi's choco package's [chocolateyInstall.ps1 file](https://github.com/activescott/lessmsi/blob/ee2a0df0cb1fb242a152af2334b687582b9a7fdf/src/.build/chocolateyInstall.ps1) is using [Install-ChocolateyZipPackage](https://github.com/chocolatey/choco/wiki/HelpersInstallChocolateyZipPackage#install-chocolateyzippackage). This will soon require a checksum

[2016-09-04 13:17] ferventcoder commented on #73
Docs were not always as good as they are now - it's likely you just missed it. Plus LessMSI started with pulling the file from a remote source and when you took over, it's likely you converted it to a local source and it just worked. So there was no real reason to explore further changes.

The advantage of Get-ChocolateyUnzip is that it doesn't take the additional step of copying the zip somewhere

[2016-11-24 16:55] salsifis commented on #70
I have the following problem on a substed drive with `lessmsi.exe x <file.msi>`:

[code]

This happens if I am on `D:\` which is a subst to `C:\disk_d`.

[2016-12-04 23:52] #70 closed

[2016-12-05 00:10] activescott commented on #70
...still waiting on a nuget update to be able to push this fix to a full release of lessmsi...

[2016-12-05 02:44] activescott commented on #70
Fixed in 1.5. Get it via chocolatey https://chocolatey.org/packages/lessmsi/1.5 or at https://github.com/activescott/lessmsi/releases/tag/v1.5

[2016-12-05 03:43] activescott opened #74 "AppVeyor build failing with "CPack generator not specified""
See failing AppVeyor build at https://ci.appveyor.com/project/activescott/lessmsi/build/1.0.13 for example of failure.

[Apparently](http://help.appveyor.com/discussions/questions/398-chocolatey-cpack-not-working-on-build-instance#comment_33711936) some packaging tool is available as [`cpack`](https://cmake.org/cmake/help/v2.8.8/cpack.html) intermittently on appvoyer build workers and this started

[2016-12-05 05:09] #73 closed

[2016-12-05 05:09] #74 closed

[2016-12-06 01:21] activescott commented on #55
this was fixed in 1.5.1. See https://github.com/activescott/lessmsi/releases/tag/v1.5.1

[2016-12-06 01:21] #55 closed

[2016-12-06 08:04] jhansonxi opened #75 "Fails to extract MSI from setup created by Advanced Installer on Wine"
MSI from Saturn PCB Design Toolkit installer
https://www.saturnpcb.com/pcb_toolkit.htm
v7.02 uses Caphyon Advanced Installer (not the "W" version which uses GkSetup)

Wine Staging 1.9.23
Xubuntu Linux 14.04 x86_64
Net Framework 4.0 installed by winetricks 20161005 (env WINEARCH=win32 winetricks -q dotnet40)

I encountered the problem when trying to diagnose a crash with the Toolkit installer cause

[2016-12-08 04:36] jgstew commented on #50
I believe @hansen-m is actively using lessmsi with winebottler.

[2016-12-08 04:38] jgstew commented on #75
Can you provide a link to download the MSI directly that has this problem?

It would be useful to test it on windows and see if there are similar problems. Have you tried lessmsi on this MSI on windows?

[2016-12-09 05:46] activescott commented on #75
The comma in the file path ("Saturn PCB Design, Inc") catches my eye since LessIO is relatively new. It might be good to add a test to the [LessIO project](https://github.com/activescott/LessIO) using a similar path to make sure the problem isn't in there.

If it isn't that, LessIO extensively uses Win32 APIs via P/Invoke operations. Maybe those APIs behave slightly differently under Wine?

[2016-12-11 06:44] jhansonxi commented on #75
Direct link:
https://www.saturnpcb.com/getfile.html?source=Saturn_PCB_Toolkit_V7.02_Setup.zip

Advanced Installer:
http://www.advancedinstaller.com

I tried it on WinXP with Net 4 and received a different error message:
![lessmsi-winxp](https://cloud.githubusercontent.com/assets/8335848/21078591/05ed7142-bf43-11e6-8419-3eb2bcb3b688.png)

I noticed that there is a separate disk1.cab file in additio

[2016-12-11 06:49] jhansonxi commented on #75
Installer's temporary files:
http://www.mediafire.com/file/45lr8dr44jxj22a/Saturn_PCB_Toolkit_V7.02_Setup_install_temp.7z

[2017-01-11 17:33] WillSullivan opened #76 "Extracting custom action binaries"
Would be nice if this also could extract binaries for custom actions as well.

[2017-01-22 06:09] activescott commented on #76
Love the suggestion. Let me know if you (or anyone else!) is interested in contributing. Happy to help and support someone on this.

[2017-02-01 08:35] CollinChaffin opened #77 "Command line option "o" (open?) to "explore" via right-click causes crash"
As title states, for some reason open the GUI and then manually opening any chosen MSI file is successful.

To reproduce this bug, simply attempt to open or "Lessmsi explore" via the installed right-click entry that correctly (apparently) resolves in the registry to the following:  REG-SZ "C:\ProgramData\chocolatey\lib\lessmsi\tools\lessmsi.exe" o "%1" results in the following dotnet System.NullRe

[2017-02-10 11:07] jjurkus commented on #54
I think I would also benefit from an option like this.

For instance, when deploying autodesk programs, you have to make a deployment first, and fiddle for ages with all the various options. It often breaks, and running their msi directly doesn't work at all.
So I would like to get rid of their installer alltogether. Just copy all files and import the registry changes for every user.

[2017-02-26 18:45] activescott commented on #54
@jjurkus thanks for the feedback.

**ALL**: Would love to accept a pull request for this!

[2017-02-26 18:52] activescott commented on #54
@jjurkus , @msitekkie It would be great if you could link to some msi files that have registry changes that you'd like to be able to extract to .reg files. This will be useful for testing and will help verify that the [Windows Installer Registry Table](https://msdn.microsoft.com/en-us/library/windows/desktop/aa371168(v=vs.85).aspx) does in fact contain the registry changes that you want to extract

[2017-02-26 20:47] jjurkus commented on #54
https://knowledge.autodesk.com/support/autocad/downloads/caas/downloads/content/autodesk-C2-AE-autocad-C2-AE-2015-product-family-and-autodesk-autocad-electrical-2016-net-installation.html?v=2015
(or search for downloads for autocad 2015 -> 22 feb 2017 hotfix for installation)

From the zip choose this file: Autodesk AutoCAD 2015\x64\enu\acad.msi
The autocad installer is three parts, first the base

[2017-03-11 17:49] beatcracker opened #78 "Fails to extract Putty 0.68 installer"
Site: http://www.chiark.greenend.org.uk/~sgtatham/putty/latest.html
Direct link: https://the.earth.li/~sgtatham/putty/latest/w32/putty-0.68-installer.msi

#### Error message

[code]

#### Exception

[code]

[2017-03-12 00:27] activescott commented on #78
Weird. No `_Streams` table present. Will have to investigate this...

[2017-03-12 04:03] activescott opened #79 "make copy to clipboard view of Tables/Files compatible with compatible with pasting to excel"
Add column headers and make tab delimited instead of comma delimited.

[2017-03-12 04:12] #79 closed

[2017-03-12 05:29] activescott commented on #78
Seems wix does something funny here. Others have noticed the missing _Streams table as noted in the following thread: http://windows-installer-xml-wix-toolset.687559.n2.nabble.com/CAB-not-being-written-to-Streams-table-td699090.html#none

Since the installer works, obviously there is some way to make an assumption and find the CAB's stream. So I'm trying to chase that down next...

[2017-03-12 06:35] activescott commented on #78
Interestingly, Dark.exe which is a wix's own decompiler, also isn't able to decompile this msi and fails in exactly the same way:

    C:\Users\scott\Downloads\putty-extract-wix>c:\tools\wix\dark.exe -x .\ ./putty-0.68-installer.msi
    Windows Installer XML Toolset Decompiler version 3.8.1128.0
    Copyright (c) Outercurve Foundation. All rights reserved.

    putty-0.68-installer.msi
    dark.ex

[2017-03-12 09:57] activescott commented on #78
Everything I read suggests that the `_Streams` table should be available (and maybe auto-generated upon request). However, I cannot figure out how to get it to work with this particular installer.

`msi2xml` also cannot read this file, but it reads others. Something goofy about this one that I cannot put my finger on. I'm putting some hacked code in a branch `78_no_streams_table`. See `OleStorageH

[2017-03-13 04:53] activescott opened #80 "Allow viewing/exploring the raw OLE Structured Storage/Compound Document streams in the UI"

[2017-03-13 05:29] #78 closed

[2017-03-13 05:29] #80 closed

[2017-03-13 05:49] activescott commented on #78
@beatcracker Thank you for the feedback. It will be great if you can check out the new release and do a bit of testing. Note I've implemented a fallback that does a trick making a pretty bold assumption but it should work for most (but not all) MSIs. Fortunately it is a fallback that won't be resorted to in most cases.

If you have a moment to tinker with the other items [in this release](https://

[2017-03-14 11:27] bnote opened #82 "lessmsi-gui: can't accept path only"
Windows 2003 SP2

lessmsi-gui waits for the file name only in address bar and can't accept path-only instead of [path\]filename and exception occurs. However, the desired behavior would be to open file selection dialogue at nearest existing path of entered string. "Nearest" means here that if full entered path not exists it is necessary to try one level up and so on up to "My Computer".

![0314_11

[2017-03-28 00:10] beatcracker commented on #78
Thanks and sorry for the late reply. Extracting works perfectly.

_> If you have a moment to tinker with the other items in this release that would be much appreciated!_

It looks like the `Streams` tab makes some invalid assumptions about character encoding:

![unicode_issues_crop](https://cloud.githubusercontent.com/assets/7583050/24383129/dd6ff440-1363-11e7-9375-970dc592998f.png)

[2017-04-04 18:11] jethrogb opened #83 "Version 1.5 and up no longer work in Wine"
With lessmsi 1.4:
[code]
(success)
With lessmsi 1.5, 1.5.1, 1.6:
[code]
(failure)

I've tried several different MSI packages, they all show the same behavior. I'm using wine 1.6.2.

[2017-04-05 00:03] ramiabughazaleh opened #84 "Wixtracts.ExtractFiles keeps msi Record handles open"
`Wixtracts.ExtractFiles` keeps some msi `Record` handles open.

I ran into this issue when I was directly calling Wixtracts.ExtractFiles and then when it was finished, immediately trying to open the msi file for writing.
In my case, for reference, I received the following exception:
`System.IO.FileLoadException: The process cannot access the file because it is being used by another process. (Excep

[2017-04-13 03:25] activescott commented on #83
I'm guessing this is due to [this line](https://github.com/activescott/libmspack4n/blob/master/libmspack4n/MSCabinet.cs#L38) which was added in [this commit](https://github.com/activescott/libmspack4n/commit/58b1cde2f5121a6b4ddedd8a8ecd213a6879ceab). Apparently some problem loading [LessIO](https://github.com/activescott/lessio/) on Wine. LessIO uses a several Win32 native methods so I suspect tha

[2017-04-13 03:26] activescott commented on #84
Thanks so much for the PR @ramiabughazaleh . I'll try to get this tested on my side, merged, and into a release asap.

[2017-04-13 07:23] activescott commented on #77
I cannot reproduce this on Win8 x64. If you still have this problem please re-open the issue and let me now the following:
* Hit Debug and provide a callstack.
* Can you please see if it is specific to a particular msi file or not?
* Does it also happen on the command line or only via the explorer integration?
* Provide anything else you can about the environment to help repro (if you can try on a

[2017-04-13 07:23] #77 closed

[2017-04-13 07:26] activescott commented on #76
@WillSullivan in [v1.6.0](https://github.com/activescott/lessmsi/releases/tag/v1.6.0) I added support for extracting raw streams on a new "Streams" tab in the GUI. Is that what you need or are custom action binaries separate? If you could provide a specific msi and more detail about what you're after I might look into it next time I'm hacking on this project.
Of course, contributions are always we

[2017-04-13 07:31] activescott commented on #58
I believe this has been resolved back with recent versions of LessIO. I'm not sure if any window application -including windows explorer- supports long paths as well as LessMSI now :)

Let me know if I'm missing something and I'll fix it.

[2017-04-13 07:31] #58 closed

[2017-04-13 07:45] #82 closed

[2017-04-13 07:45] #84 closed

[2017-04-13 08:49] mattiase commented on #58
Thank you – unfortunately I'm no longer in a position to verify its functioning in this respect, but I'll take your word for it.

[2017-04-13 17:23] jethrogb commented on #83
“aspires to be platform independent” :smiley:

I'm happy to provide help debugging and testing, but I don't have a Windows/.Net toolchain setup.

[2017-05-20 21:48] pombredanne commented on #3
On my side I would be interested to have command-line only native (no wine required) way to build & run on Linux and Mac in addition to Windows, to add support for a better MSI extraction in https://github.com/nexB/scancode-toolkit beside the 7z-based extraction I have today.

[2017-05-21 22:33] jgstew commented on #3
I haven't explored this option, but since lessmsi appears to be written in C# then it might be able to run on Mono or .NET core which would make it portable.

[2017-05-25 01:21] qwertychouskie commented on #3
Has anyone tried compiling with `winelib`?  That should fill in all of the Win-specific functions.

[2017-05-31 11:17] jjurkus opened #87 "MSI source_path"
If I open a msi file with InstEd it shows two columns for directories, target_path and source_path. In lessmsi it only shows one column, it uses target_path for this.
Would it be possible to also add the source_path column?

The reason for this is a msi file from an intel wireless driver. Currently all driver files are exported to the same directory, but source_path has a distinction between windo

[2017-07-11 19:27] mirh commented on #83
...
Wouldn't this be best reported on wine bugzilla?

[2017-07-11 19:37] mirh opened #89 "Cannot extract to network folders"

[2017-07-12 13:09] jjurkus opened #90 "crash on startup"
lessmsi-gui.exe and lessmsi.exe are crashing on startup, showing the default windows "... has stopped working" notice.

This is with version 1.6.1
If I remove all files in c:\Users\%userprofile%\AppData\Local\LessMsi\ it works again.
If I edit the user.cfg to remove all previous msi files (that don't exist anymore) it works again.

[lessmsi-gui.exe_Url_x0j5sudoke0qszxie0k512s0c5i5wuri.zip](https:/

[2017-07-13 11:23] mirh commented on #1
[Example](https://www.microsoft.com/en-US/download/details.aspx?id=24896)

[2017-07-23 22:37] activescott commented on #83
@mirh I think since it worked in older versions of lessmsi it is likely we've introduced something that wine supports. I don't use it on wine, so I haven't taken the time to investigate yet. If you have, please let me know what's going on and I'll be happy to support you resolving it (either in lessmsi or reporting to wine).

[2017-07-23 22:38] activescott commented on #89
@mirh I'll look into this when I have a moment, but it is busy times for me right now... Would love to see a PR for this ;) Let me know if you need a hand.

[2017-07-23 22:40] activescott commented on #90
Bummer, but thank you for reporting this! I'll look into this when I have a moment. If you would like help preparing a fix and pull request let me know!

[2017-07-25 17:13] jjurkus commented on #90
I can't program my way out of a cardboard box, so that's not going to help.

However, I have two different configuration files for you:
[lessmsi2342.zip](https://github.com/activescott/lessmsi/files/1174215/lessmsi2342.zip)

If I remove one previous file entry from the config file it works. Would I add a random item back, it will fail again. Maybe the reader of this part can't handle more than nin

[2017-07-25 21:46] jgstew commented on #83
I am not sure if/when I'll have time to investigate this, but lessmsi is actively being used on OS X in a project I helped with a bit, but haven't spent time with recently.

- https://github.com/autopkg/hansen-m-recipes/blob/master/SharedProcessors/MSIVersionProvider.py

[2017-07-25 21:50] jgstew commented on #75
This issue might be bigger than WINE if it also gives an error on Windows for the same MSI.

[2017-07-26 08:08] mirh commented on #83
Finding which functions we are talking about in the first place, then check for bug reports on wine appdb, wouldn't hurt.

[2017-07-28 14:02] ysb33r opened #91 "Does not seem to be able to unpack Node MSIs"
I was trying to unpack the node.js MSIs from https://nodejs.org/download/release/v6.2.0/.

[code]

However no files are unpacked. Inspecting the MSI with the `o` command indicates that there are files.

[2017-07-29 09:49] ysb33r commented on #91
Just want to add that I also tried running this as administrator and the problem remains.

[2017-08-19 23:53] Bl4Cc4t commented on #83
I’m on v1.6.1 and getting the same error.
Despite the error, it works! :3

[2017-08-22 04:02] activescott commented on #91
Thanks for reporting this! I'll take a look. I'm swamped with work stuff now and I have to do some setup to get my windows VMs running again so I'm not able to commit to a timeframe, but I'll get to it as soon as I have a free night or weekend.

[2017-08-27 03:14] bsto opened #94 "Missing option "auto-extract to source dir""
Currently users are always forced to select the target dir for extracted stuff.

This is mostly unnecessary and tedious.

I miss an options "automatically extract files to source dir" ...which is used immediately after clicking on "extract"

[2017-08-27 03:17] bsto opened #95 "LessMSI does not remember window size and position"
Whenever I start lessmsi-gui.exe it is opened in the upper left corner as small window.

When I move and resize it then the new size and position is not remembered.

At next start I have to move and resize it again.
This is unnecessary and tedious.

Please add a remember option at exit to lessMSI

[2017-08-30 03:12] activescott commented on #95
Thank you for the feedbck @bsto! I've put this on my list to address. I can't commit to a timeline just yet but I'll get to it as soon as I can.

[2017-08-30 03:13] activescott commented on #94
Makes sense to me! Thanks for the suggestion. I'll make it so upon opening a new .msi file it will default the extraction directory/textbox to the same directory as the .msi file.

[2017-09-11 04:42] scottjbaldwin opened #97 "Issue using relative path to specify the msi file location"
when I attempt to run the following:
[code]
Nothing is extracted

This is resolved if the full path is supplied e.g.

[code]
Not sure, but this may also relate to https://github.com/activescott/lessmsi/issues/91

[2017-09-13 16:40] rismoney opened #98 "lessmsi does nothing on microsoft/nanoserver"
trying to use this in a minimalistic container, and launching does not return anything.

[2017-09-15 03:11] activescott commented on #98
Can you please provide more detail including steps to reproduce?

[2017-09-15 22:03] rismoney commented on #98
is this using dotnet core or the regular version?

https://github.com/activescott/lessmsi/releases/latest

Easy to repro-
docker run -it --rm --entrypoint powershell.exe microsoft/nanoserver
spawn out (control-z)
download the lessmsi bits
and docker cp lessmsi.zip id:\
expand-archive
and run it.

[2017-09-30 16:07] ysb33r commented on #97
I've noticed the same thing.

[2017-10-17 06:43] computer-dave opened #100 "Lessmsi Explore Failure"
Hello, just installed lessmsi v1.6.1 using choco and ran into a bug. I ran lessmsi-gui, then went to Edit | Preferences and added the Shortcut Item(s) to Explorer. I then used Windows Explorer to navigate to the folder that was created when I unzipped a recent download, right-clicked on the msi file and selected Lessmsi Explore. What looked like a DOS window flashed on the screen briefly, then the

[2017-10-17 19:55] activescott commented on #100
Thanks for the detailed notes Dave. I'll take a look as soon as I have a chance to spend some time on this project.

[2017-12-02 21:31] activescott commented on #98
@rismoney According to the overview at [here](https://blogs.technet.microsoft.com/windowsserver/2015/04/08/microsoft-announces-nano-server-for-modern-apps-and-cloud/), like nanoserver explicitly excludes the MSI stack (Windows Installer):

Also noted [here](https://docs.microsoft.com/en-us/windows-server/get-started/deploy-nano-server):

lessmsi does use the MSI native APIs under the covers, so wi

[2017-12-02 21:31] #98 closed

[2017-12-24 10:03] lazair opened #101 "Failure on extract file"
Sorry if this is duplicate issue.
Description on the picture:
[https://pasteboard.co/GZFQhQd.png](url)
To get a copy of MSI:
[https://download.microsoft.com/download/D/1/7/D17C7B6B-D0A0-4918-9B83-82024D2EC9D2/Windows_Win8.9200.16384.120725-1247.x64FRE.Symbols.msi](url)

[2018-01-04 13:32] kevlarballoons opened #102 "Random crashing"
If you try to extract most of the files in an MSI, it'll crash
![capture](https://user-images.githubusercontent.com/20979571/34565674-be781b7c-f129-11e7-8081-5cf547ac1c48.PNG)

[2018-01-06 21:16] activescott commented on #102
@kevlarballoons  This appears to be specific to your MSI. Can you please reply with a link to the exact MSI you're having trouble with?

[2018-02-21 20:31] DjDiabolik opened #104 "Fail to extract PDF-Xchange MSI"
Program say to report error here.. i do a screenshot:
https://snag.gy/snPi2D.jpg

You can pick the MSI from tracker-software:
https://www.tracker-software.com/product/pdf-xchange-editor/download?fileid=609

Apparently somethigs it's been extracted.... but the content it's all file .cab...........

[2018-04-03 11:38] mirh opened #106 "Nothing gets extracted from PlayStationNow.msi"
[Sample](https://github.com/activescott/lessmsi/files/1871301/PlayStationNow.zip)

[2018-05-02 13:48] UNiXMIT opened #107 "Extracting 32bit and 64bit directory"
The MSI I am trying to extract installs a bin directory in C:\Program Files (x86) and a bin directory in C:\Program Files. So when I extract this MSI I get one bin directory with double the amount of files and half of them have the extension .duplicate1. Is there something I can do to stop this or does the issue lie with the MSI?
Thanks

[2018-06-21 12:08] mistressofjellyfish commented on #83
So... I am still affected by this. I don't know the actual problem yet, however it seems to fail to close the handle to the cab correctly after writing:

[code]

Which then results in a sharing violation as it should:

[code]
wine --version reports wine-3.10.

I don't know who's at fault here beacuse as far as I can tell the cab gets written correctly. We'll see.

[2018-06-25 05:00] activescott commented on #83
In case anyone wants to investigate this (😉) I'd start by look at the [`ExtractFiles` method in `Wixtracts`](https://github.com/activescott/lessmsi/blob/master/src/LessMsi.Core/Msi/Wixtracts.cs#L259). This calls into two areas that are worth investigating:

- [LessIO](https://github.com/activescott/LessIO) is my library for doing all the File I/O for everything but the cab files themselves (since

[2018-06-25 05:02] activescott commented on #106
Thank you for the bug report. I'm pretty busy with some other projects these days but I'll accept pull requests (and relentlessly assist if you have questions or get stuck) or I am going to take some time off my day job in July and _maybe_ I'll dig into this then.

[2018-06-25 14:19] mistressofjellyfish commented on #83
FWIW, I think the problem is this call https://github.com/activescott/lessmsi/blob/master/src/LessMsi.Core/Msi/Wixtracts.cs#L386 resulting in this handle being allocated https://github.com/activescott/libmspack4n/blob/master/libmspack4n/MSCabinet.cs#L44 but not properly closed. I have no further Idea what is going on as I most probably can't contribute code back for legal reasons and therefore hav

[2018-07-19 00:59] #44 closed, assigned to nobody

[2018-07-19 19:59] DarrenWhite99 commented on #100
I just had this same issue, but the space was in the filename. It reported that the file could not be found and displayed the name up to the space. The filename was like: "C:\users\me\downloads\agentinstall (1).msi" and it said that it could not open "C:\users\me\downloads\agentinstall".

[2018-07-21 13:06] TheLever opened #108 "Fails to extract single file from WiX MSI"
Hi,

I was trying to extract a single file from a simple MSI I built using WiX (3.11). Upon trying to extract, I get "An attempt was made to reference a token which does not exist." It seems the code wants to copy the cab, which fails. I see also that it tries to reference a cab in a place where it does exist - maybe it can't handle embedded cabs?

The installer is built using this xml:
<?xml vers

[2018-07-21 13:13] TheLever commented on #108
The source xml got truncated, attaching a sample here.
[SimpleInstaller.zip](https://github.com/activescott/lessmsi/files/2216170/SimpleInstaller.zip)

[2018-08-26 04:44] Rottweiler opened #110 "Feature suggestion: import/replace file"
I'd love to see the feature to import or replace an existing file in an MSI package. Great tool either way! Good job

[2018-11-13 14:39] bhattumang7 commented on #106
@activescott
I tried to do extract the same msi file attached to this bug. 4th column from query to media table (in CabsFromMsiToDisk method in code) is coming as a blank string. This is a valid scenario. The blank string is causing the loop to skip the row. I see that the [MSDN](https://docs.microsoft.com/en-us/windows/desktop/msi/media-table) says that if no cab files are used then the 4th colum

[2018-11-13 15:29] bhattumang7 commented on #100
@activescott I have got a fix for this. Can you please make changes to allow me to push?

[2018-11-19 06:34] activescott commented on #101
I love that you're using midnight commander 👍

This one looks pretty tricky as the CAB Compression library that I use is complaining. So the fix is quite possibly in a dependent library from https://github.com/activescott/libmspack4n .

[2018-11-19 06:34] activescott commented on #102
need more info to repro

[2018-11-19 06:34] #102 closed

[2018-11-19 06:35] activescott commented on #107
Not sure - it depends on how the MSI package author did things. Please attach or link to the msi and maybe someone can take a look. Feel free to re-open the issue with more info.

[2018-11-19 06:35] #107 closed

[2018-11-19 06:39] activescott commented on #110
I kind of feel like writing to msi files is out of scope of this project, but I'll leave this issue here in case someone else gets excited and wants to contribute.

[2018-11-19 13:50] pstein commented on #95
I support this feature
Peter

[2018-11-20 05:17] activescott commented on #95
The below articles are probably a good starting point for implementing this feature if someone is interested:

- https://www.arclab.com/en/kb/csharp/save-and-restore-position-size-windows-forms-application.html
- https://www.codeproject.com/Articles/15013/Windows-Forms-User-Settings-in-C

[2018-11-20 05:31] activescott commented on #100
@DarrenWhite99 @bhattumang7 First, I believe this may have been addressed in released v1.6.2 released yesterday at https://github.com/activescott/lessmsi/releases/tag/v1.6.2 which included PR #86 from another contributor. Can you please confirm one way or the other?

@bhattumang7 I accept pull requests. To get your changes in, please submit a pull request (PR) and I'll be more than happy to review

[2018-11-20 07:37] activescott commented on #106
@bhattumang7 I'm not sure where the embedded files are for this particular installer. More information about where files are stored in MSI files is at https://docs.microsoft.com/en-us/windows/desktop/Msi/ordering-file-sequence-numbers-in-a-cabinet-file-table-and-media-table

As I understand it the Binary table wouldn't normally be used for installable files.

If you can get this msi to extract the

[2018-11-23 04:52] #72 closed

[2018-11-25 05:15] activescott commented on #104
Msi is at https://www.dropbox.com/s/d12j5bujfkzs0x6/EditorV7.x64.msi?dl=0

There is a cab embedded in here named `SE_x86.cab` that is totally empty without any directories which mspack considers corrupt and triggers the error. However, in the Media table the LastSequence for this cab is 0 which indicates nothing needs to be extracted _from_ this cab so it should be skipped.

[2018-11-25 05:32] activescott opened #113 "Update cab reader library"
Update cab library from https://github.com/kyz/libmspack lots of improvements have been made in more recent years

[2018-11-25 05:32] activescott commented on #113
Requires updating libmspack in https://github.com/activescott/libmspack4n and then updating that nuget package and upgrading it in lessmsi

[2018-11-25 06:32] activescott commented on #6
Maybe this lib can actually allow extracting files from cabs in installshield installers: https://github.com/twogood/unshield

[2018-11-25 20:29] bhattumang7 commented on #100
I agree. This bug is fixed in new release. We can close this.

[2018-11-26 06:54] #100 closed

[2018-11-26 06:57] #113 closed

[2018-11-26 07:02] activescott opened #116 "Allow extraction to continue on error"
In recent issues where extraction fails on a single file, it is kind of unfortunate that the user cannot keep at least keep some of the files that were extracted successfully and allow the extraction to attempt to continue. So allow the user to choose whether extraction should continue.

Things this enhancement should ensure:
- [ ] Prompt the user to allow them to abort or continue extraction.
- [

[2018-12-03 00:59] activescott opened #118 "Integrate Rollbar for error reporting"
- [ ] Setup project
- [ ] Configure environments for testing in rollbar (dev, appveyor, production): https://docs.rollbar.com/docs/environments
     - [ ] Configure code to always emit the proper environment
- [ ] Configure github: https://docs.rollbar.com/docs/source-control
- [ ] Configure and emit information about deployments: https://docs.rollbar.com/docs/deploy-tracking

- [ ] Basic unhandle

[2018-12-07 23:23] hexxellor opened #119 "FilesToExtract Count Can Be Incorrect When Installer Contains Multiple CAB Files"
In the code a new ExtractionProgress object is created in Wixtracts.cs like this:
`progress = new ExtractionProgress(progressCallback, filesToExtract.Length);
`

However, this assumes it should set the progress bar maximum value to "filesToExtract.Length"

The problem with this is if the MSI contains multiple CAB files with varying amounts of files in each (some being duplicates), the total can be

[2018-12-09 06:48] activescott commented on #119
Link to file that I will host is at https://www.dropbox.com/s/xm2mv7hlv5enox1/Example%20MSI%20With%20Multiple%20CABs.zip?dl=0

[2018-12-09 06:48] activescott commented on #119
Thanks for the report! I really appreciate it. I'd love it if you wanted to submit a PR. Let me know if you plan to or not.

[2018-12-09 06:57] activescott commented on #66
Fixed in c43de890a2f9e9e51f1458c8ca03f44facb449d1

[2018-12-09 06:57] #66 closed

[2019-01-09 06:11] activescott opened #121 "standardize readme"
https://github.com/RichardLitt/standard-readme

[2019-02-22 14:15] voltagex opened #122 "Can't extract netfxsdk.msi"
**Describe the bug**
A clear and concise description of what the bug is.

Extracting the MSI from .NET FX SDK 1.1 gets the following error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Download https://download.microsoft.com/download/5/2/0/5202f918-306e-426d-9637-d7ee26fbe507/setup.exe (https://www.microsoft.com/en-us/download/confirmation.aspx?id=16217)
2. Extract the msi and CAB

[2019-02-23 00:54] voltagex commented on #122
When testing with git head in VS2019:

![image](https://user-images.githubusercontent.com/159567/53279088-c5b77200-3761-11e9-969f-e64f155f584e.png)

[2019-02-24 00:15] activescott commented on #122
Thanks @voltagex . Since you got the source out in git, did you plan to work on a fix or not? Just don't want to duplicate efforts.

[2019-02-24 00:19] activescott commented on #122
Just to make sure we maintain access to it, I have uploaded this file to dropbox and made it available at https://www.dropbox.com/s/s0ha3u3ckggnhpf/setup-exe-for-less-msi-issue-122.zip?dl=0

[2019-02-24 00:23] voltagex commented on #122
At this stage I'm not working on a fix as I was able to get the files I needed by ignoring that assert! It looks like it behaves better in the current version, at least.

Thanks for your quick response.

[2019-06-06 14:45] voltagex opened #123 ""The operation completed successfully" error"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Download https://download.microsoft.com/download/4/2/2/42245968-6A79-4DA7-A5FB-08C0AD0AE661/windowssdk/Installers/Windows%20SDK%20Desktop%20Headers%20x64-x86_en-us.msi

2. Attempt to extract ksamd64.inc

**Expected behavior**
A clear and concise description of what you exp

[2019-06-25 17:42] c0shea commented on #90
I have the same problem. Event Viewer reports the exception:

[code]

[2019-06-27 07:44] activescott commented on #90
Thanks for the note @c0shea ! If you would like help preparing a fix and pull request let me know!

[2019-07-01 00:56] activescott commented on #116
I started this at https://github.com/activescott/lessmsi/tree/116-feature-continue-on-error but I don't remember where I left off or if it was going in a good direction.

[2019-07-01 03:12] #90 closed

[2019-07-25 18:16] vmvmpvm commented on #54
TortoiseGit is a good example.

It has Registry entries in 'Registry' table.

MSI can be downloaded from https://tortoisegit.org/download/

[2019-09-05 10:27] Ander3232 opened #128 "Gotta say it: Brilliant project name!"
Hey guys,

This isn't a bug, but the site (lessmsi.activescott.com) said I could post "suggestions, problems, comments" here, so I hope it's okay.

As a writer/editor, I had to rave about your brilliant project name. "Less MSIerables" (short version: LessMSI). Man! When I saw that, it stopped me in my tracks. I don't know about you, but it's the first software name _I've_ ever seen that achieved a

[2019-09-08 01:08] activescott commented on #128
😆 👍

[2019-09-08 01:08] #128 closed

[2019-10-26 04:46] linsui opened #129 "Failed to extract files from msi in vcredist2005/2008/2010"
**Describe the bug**
Failed to extract files from msi in vcredist2005/2008/2010

**To Reproduce**
Steps to reproduce the behavior:
1. Download https://download.microsoft.com/download/1/6/5/165255E7-1014-4D0A-B094-B6A430A6BFFC/vcredist_x64.exe for example.
2. Extract vc_red.msi and vc_red.cab from vcredist_x64.exe\\.\\.\\.\\.\\ with 7zip
3. Extract files from vc_red.msi
4. See error

**Screenshots*

[2019-12-11 15:52] TheBudman opened #130 "Ability to specify full file path (not just file name)"
In the Wiki for the command-line, there is a note:

Note: There is a known bug err "limitation" that you can only specify the name of the file (not the path). Therefore if there are multiple instances of the file inside the msi with the same name and you want to extract that file there is no way to specify which file to extract. If this is a problem for you report an issue and if I know it is impo

[2019-12-12 17:40] activescott commented on #130
@TheBudman Thank you for leaving your feedback. I really appreciate it! I'll try to find some time to take a look at this over the holidays. Of course, we welcome pull requests from others, and I personally will go above and beyond to review and help others get pull requests merged in here.

[2019-12-12 17:42] activescott commented on #130
relevant docs: https://github.com/activescott/lessmsi/wiki/Command-Line/_edit#command-x---extract

[2019-12-27 13:34] arcanosam commented on #29
I always liked the icon located on top-left corner of the window.

Actually, I've always thought that was the real icon.

And since I know this tool, I've always get this icon by print-screen and I edit on gimp, export to png and set my shortcut with it.

I attached, if anyone want it.

![less_msireable_tool](https://user-images.githubusercontent.com/1272609/71518972-26d53800-2894-11ea-9909-c24684

[2020-01-05 16:43] cup opened #131 "Cab file does not exist"
If I try to extract a certain file:

[code]

I get this message:

[code]

Fair enough, but does LessMsi have a way to list all the files that are
required?

[2020-01-05 20:49] cup commented on #131
This seems to do it:

[code]

[2020-01-06 04:37] activescott commented on #131
Hey there @cup ! Yep, you can list the files on the command line ([docs](https://github.com/activescott/lessmsi/wiki/Command-Line)) or in the GUI there is a "Extract Files" tab that should show them to you.

If you think there is a bug/error in the program related to that msi, please feel free to re-open this issue and attach that msi and I'll look into it.

Thanks for leaving a comment!

[2020-01-06 04:37] #131 closed

[2020-01-06 04:45] cup commented on #131
@activescott this isnt about extracting files, it about dealing with MSI that require external CAB files

[2020-01-21 17:15] TheBudman commented on #130
Hi Scott.  We were able to modify the source to get this to work.  We don’t have time to do a PR and all that entails.  If you want, I could zip up the modified source and send it your way.

[cid:image001.jpg@01D5D054.74A09950]

Bud C. Curry
Staff Engineer, Software
Software Engineering

Bud.C.Curry@bd.com<mailto:Bud.C.Curry@bd.com>

7 Loveton Circle,
Sparks, Maryland 21152-0999
US

bd.com<http://

[2020-01-22 17:03] cocoon opened #132 "libmspack cmake"
Just a short hint, there is a working git repository that added easy cmake support:
https://github.com/micahsnyder/libmspack/tree/cmake-tooling

[2020-01-25 13:11] StrollStars opened #133 "Failed to extract files from PBIDesktop_x64.msi"
**Describe the bug**
Failed to extract files from PBIDesktop_x64.msi

**To Reproduce**
Steps to reproduce the behavior:
1. Download the [PBIDesktop_x64.part1.rar](https://app.box.com/s/lyiifz02lzfgvnyarw8g9yxs4dfnt1k3) and [PBIDesktop_x64.part2.rar](https://app.box.com/s/n54fzd5nfun21yxl8whqqgeg3x9uuyy4)
2. Unzip the two rar files
3. Extract files from PBIDesktop_x64.msi
4. See error

**Screenshot

[2020-01-27 15:57] activescott commented on #133
Thank you for the report. I'll download those files and check this out as soon as I have a moment.

[2020-01-27 16:21] activescott commented on #130
Sure, send me a patch or the source and I'll get it merged in.

On Tue, Jan 21, 2020 at 9:15 AM TheBudman <notifications@github.com> wrote:

[2020-02-02 05:09] StrollStars opened #134 "Feature suggestion: Search Table"
In my opinion, if I can search the table, I can find what I need more quickly in the table.

[2020-03-10 02:12] muv1 opened #135 "setup.cab: no folders in cabinet"
Using this file:

<https://download-installer.cdn.mozilla.net/pub/firefox/nightly/latest-mozilla-central/firefox-75.0a1.en-US.win64.installer.msi>

I get this result:

[code]

As a workaround, this seems to give somewhat better result:

[code]

<https://github.com/wixtoolset/wix3>

[2020-03-27 18:11] manuelxmarquez commented on #97
Relative paths with .. also do not work. For example: C:\MyFolder\msi\..\setup\mymsi.msi
This appears to be an issue in LessIO. Not sure why the MS libraries are not being used.

[2020-04-15 19:47] sskras commented on #3
@activescott wrote:

Gnome `msitools` uses [GNOME/libgsf](https://github.com/GNOME/libgsf) which is partially influenced by Wine.

[GNOME/msitools](https://github.com/GNOME/msitools) used the same approach, IIUC.

Both libs are under LGPL-2+. For MIT-licensed project it would be hard to reuse GPL code directly.

[2020-04-19 09:31] StrollStars opened #136 "Nothing in the Thunderbird Setup 68.7.0"
There's nothing in the [Thunderbird Setup 68.7.0](https://download-installer.cdn.mozilla.net/pub/thunderbird/releases/68.7.0/win64/zh-CN/Thunderbird%20Setup%2068.7.0.msi).

Desktop (please complete the following information):
OS: Win7 x64

[2020-04-26 00:48] hellishvictor opened #137 "Portable mode"
Hi, the program creates a file on:
C:\Users\USERNAME\AppData\Local\LessMsi\lessmsi-gui.exe_Url_2f40pggqe2qwc3oufnjnqq0l3gqel3k3\1.6.91.0\user.config

It would awesome if it were created only on the same folder where the executable is, so that it can be used as portable.
Cheers.

[2020-04-29 23:03] Kein opened #138 "No files detected in Mirosoft Edge business package"
As title.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.microsoft.com/en-us/edge/business/download
2. Download latest stable msi package
3.Try to unpack
4. Nothing, no files detected

**Expected behavior**
Content extracted

**Win7x64**

**Additional notes**
`msiexec /a` also does not work

[2020-05-02 15:48] mirh commented on #83
Latest version works just fine in wine, at least once you install dotnet45.
If there is a problem, this is inside mono.

[2020-05-03 20:20] mirh opened #139 "Compile all dlls from source"
Native linux build depends on this AFAICT
https://github.com/activescott/LessIO
https://github.com/activescott/libmspack4n
https://web.archive.org/web/20070325122013/http://easynews.dl.sourceforge.net/sourceforge/wix/wix-2.0.4820.0-sources.zip (or alternatively [here](https://codeplexarchive.blob.core.windows.net/archive/projects/wix/wix.zip))

[2020-05-18 03:08] activescott commented on #137
It is using `System.Configuration.ApplicationSettingsBase` to store the recent files opened so I think that's where that file is coming from. If someone submitted a PR to store them locally I'd accept it (assuming tests all pass, it is a minimal change, etc.)

Settings are handled at https://github.com/activescott/lessmsi/tree/master/src/LessMsi.Gui/Properties

And as far as I recall the only thin

[2020-06-03 13:15] voltagex commented on #123
Ran into another example of this:
https://download.microsoft.com/download/a/a/c/aac39226-8825-44ce-90e3-bf8203e74006/dotnetfx.exe

Extract the MSI out of dotnetfx.exe using 7-zip, then try to extract msvcr71.dll out of the MSI using lessmsi.

[2020-06-05 15:23] jgstew commented on #3
I've actually switched to using https://github.com/GNOME/msitools for my non-windows use cases for this. That said, I wish I had the time to experiment with lessmsi to see how easy it would be to get it to work with winelib or mono.

[2020-06-07 19:09] nu8 opened #140 "Call with PowerShell"
If you run this command:

[code]

Nothing happens. I found this workaround:

[code]

but both commands should be valid.

[2020-06-11 17:58] Mgamerz commented on #130
Would love to see this merged. I am trying to build a small tool that fixes an issue in Mass Effect 3's physx installer (what a PITA this piece of software is) and I need to extract a few files from it's bundled msi into a certain dirrectory, but they're all named the same, just in different subfolders by version number.

[2020-06-17 04:12] jjurkus commented on #136
This is because the firefox and thunderbird msi files are just a wrapper around the .exe file.
If you want any files from thunderbird, just download the exe file and extract with 7zip.

[2020-06-17 04:16] jjurkus commented on #133
I downloaded those files, no issues here with 1.6.91 and an english windows 7 x64.

[2020-06-17 04:20] jjurkus commented on #122
No issues with 1.6.91!

[2020-06-17 04:24] jjurkus commented on #138
There is no files table in this msi file, the msi is just a wrapper for a binary.

[2020-06-17 04:28] jjurkus commented on #129
No issues with 1.6.91 on an english windows 7 x64. Have you used the most recent version?

[2020-06-17 04:32] jjurkus commented on #106
Where could a complete version of this msi file be found? This seems to be missing a cab file. Anyway, newer versions seems to be packaged differently.

[2020-06-17 06:05] linsui commented on #129
Thanks! It works. I don't know why...

[2020-06-17 06:05] #129 closed

[2020-06-17 08:00] jjurkus commented on #140
This looks to be the same issue as #97

[2020-06-17 11:26] mirh commented on #106
That comes from here https://download-psnow.playstation.com/downloads/psnow/pc/PlayStationNow-9.7.15.exe
But there was no change in packaging. It's just that you need to use the `/extract` argument to get it.

[2020-06-17 12:58] jjurkus commented on #106
Right, thanks. I think this would be on par with one of those autodesk msi files, where the files are supplied the same way. IE: the files are all there (after using the /extract argument), so at least they are available.

[2020-06-17 13:33] StrollStars commented on #136
@jjurkus Thanks, I got it.

[2020-06-17 13:33] #136 closed

[2020-06-17 13:50] StrollStars commented on #133
@jjurkus Thank you for your help, today I tried again, found no problem, it is very strange.

[2020-06-23 14:40] jjurkus commented on #135
This is because the firefox and thunderbird msi files are just a wrapper around the .exe file.
If you want any files from thunderbird, just download the exe file and extract with 7zip.

[2020-07-06 09:34] DesiredCall opened #141 "Extract Error"
**Describe the bug**
A clear and concise description of what the bug is.

**Desktop (please complete the following information):**
 - OS: Windows 10
 - Browser Chrome
 - Version v1.6.3

What happened was is that I wanted to do a TitleUpdate.MSI To downgrade my GTAIV What happened is that it could not and it came up with a error and it directed me to this website.

Screenshot:
![error](https://user

[2020-07-09 07:19] activescott commented on #141
Not sure. Could you possibly post a link to the msi you're having a problem with or attach it so that we can reproduce?

[2020-07-13 06:15] DesiredCall commented on #141
https://github.com/activescott/lessmsi/releases/tag/v1.6.91
@activescott Sorry for late response

[2020-07-13 06:15] DesiredCall commented on #141
https://www.youtube.com/watch?v=dsE-5Wz6wRc&t=84s

[2020-07-14 01:48] Okface12 opened #142 "GTAIV Downgrade Errors"
**Describe the bug**
It is an MSI Error while I am trying to extract the files to downgrade my GTAIV

I expected it to run perfectly fine.. When it didn't work I tried it a couple of times and when it still wouldn't work I decided to report the error here.

**Screenshots**
Screenshot:
![Screenshot_125](https://user-images.githubusercontent.com/68258885/87370970-3be98e00-c57c-11ea-9c41-8e174b17fc22

[2020-07-14 11:49] jjurkus commented on #142
Where can we download this msi file?

[2020-07-14 14:09] Okface12 commented on #142
https://github.com/activescott/lessmsi/releases/tag/v1.6.91
@jjurkus

[2020-07-14 15:54] jjurkus commented on #142
@Okface12

This is the lessmsi program, not the contents of the directory title_update_7_en, which contains the media1.cab and titleupdate.msi

Hmm, try extracting these files first to a seperate directory, that might help.

[2020-07-15 20:06] jjurkus commented on #142
If you first extract all files from the archive, lessmsi will extract it fine without errors.

[2020-07-15 20:06] jjurkus commented on #141
If you first extract all files from the archive, lessmsi will extract it fine without errors.

[2020-07-16 07:14] DesiredCall commented on #141
Thank you so much.

On Thu, Jul 16, 2020 at 6:06 AM jjurkus <notifications@github.com> wrote:

[2020-07-16 19:28] activescott commented on #141
Thanks @jjurkus for a solution! and @DesiredCall for reporting. So was there something that we should improve/fix in lessmsi to make this better?

[2020-07-17 03:42] jjurkus commented on #141
@activescott
Not much. Maybe change/create a specific error message if a particular .cab file can't be found.
I got it from here: https://www.download3k.com/Install-Grand-Theft-Auto-4-Patch.html
I don't know if this is an official patch, but that youtube video shows a modification being done to this patch, perhaps to turn off auto-updating. Something like that.

If a cab file is referenced in the

[2020-07-17 03:59] jjurkus commented on #123
The Windows SDK Desktop Headers x64-x86_en-us.msi file is looking for an external .cab file where this file is located. If you open the msi file in 7-zip you can see there is no file of roughly that size.
But I have seen this problem before, also with a windows 10 thing, the ADK (something something deployment kit). If you download the entire suite, then it will probably also include the needed .c

[2020-07-20 06:37] StrollStars commented on #133
@jjurkus I'm having this problem again, and after using the search function, an error occurred while exporting.

[2020-10-05 11:59] StrollStars commented on #133
I reproduced the error. This error occurs if I extract the msi file to the root directory of disk partition(there is enough space).

[2020-10-05 11:59] StrollStars commented on #133
@jjurkus I reproduced the error. This error occurs if I extract the msi file to the root directory of disk partition(there is enough space).

[2020-10-09 06:31] activescott commented on #133
Thanks for reporting it and noting that it is due to the drive root being the extraction directory.

This appears to be rooted in activescott/lessio#10 . I have a fix that I'm working on over there in activescott/lessio#11 . Once I confirm that is all passing and the package is published for lessio I'll rebuild and republish this fix with lessmsi. Should be tomorrow or over the weekend 🤞

[2020-10-11 05:58] #133 closed

[2020-10-11 07:13] activescott commented on #133
:tada: This issue has been resolved in version 1.6.92 :tada:

The release is available on:
- `v1.6.92`
- [GitHub release](https://github.com/activescott/lessmsi/releases/tag/v1.6.92)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-10-11 07:20] activescott opened #145 "build: binaries are not attached to GitHub Release by automated deploy"
The following can also be seen in [the build output](https://ci.appveyor.com/project/activescott/lessmsi/builds/35683224#L981):

[code]

[2020-10-11 07:57] StrollStars commented on #133
@activescott Thank you very much.

[2020-10-11 16:41] activescott opened #146 "fix: chocolatey package failed validation due to invalid IconUrl element"
- https://chocolatey.org/packages/lessmsi/1.6.92

This is a rule change, and the package won't appear as listed until corrected I guess so need to deal with it asap

[2020-10-11 17:00] activescott commented on #146
In 8fa29c869fff040c6aac99cfc9a925a4d7471034 added https://lessmsi.activescott.com/images/lessmsiicon32x32.png (the link icon that [the package already links to](https://github.com/activescott/lessmsi/blob/0f38f8d56774c155aa758104f7b43a8260c0e4c1/src/.build/lessmsi.nuspec#L21)) and https://lessmsi.activescott.com/images/lessmsiicon.png (much larger).

Still need to re-publish package to kick off ch

[2020-10-11 18:12] activescott opened #147 "chore: add footnote about how to install to the release notes"
Add footnote about how to install to the release notes in GitHub Releases https://github.com/activescott/lessmsi/releases

[2020-10-11 18:20] #146 closed

[2020-10-11 18:20] #145 closed

[2020-10-11 18:20] #147 closed

[2020-10-11 18:22] activescott commented on #146
:tada: This issue has been resolved in version 1.6.93 :tada:

The release is available on:
- `v1.6.93`
- [GitHub release](https://github.com/activescott/lessmsi/releases/tag/v1.6.93)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-10-11 18:22] activescott commented on #145
:tada: This issue has been resolved in version 1.6.93 :tada:

The release is available on:
- `v1.6.93`
- [GitHub release](https://github.com/activescott/lessmsi/releases/tag/v1.6.93)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-10-11 18:22] activescott commented on #147
:tada: This issue has been resolved in version 1.6.93 :tada:

The release is available on:
- `v1.6.93`
- [GitHub release](https://github.com/activescott/lessmsi/releases/tag/v1.6.93)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-10-11 20:10] activescott commented on #123
I checked both the netfx.exe and Windows%20SDK%20Desktop%20Headers%20x64-x86_en-us.msi files and as @jjurkus explained they are definitely referencing cab files that do not exist in the MSI. I'm guessing that when you execute those .msi files (or the dotnetfx.exe file) it actually downloads the cab from the internet and _then_ the msi extraction logic could proceed normally. However, in this case

[2020-10-11 20:10] #123 closed

[2020-10-13 05:36] activescott opened #148 "Improved error message experience"
As we've seen in #141 and #133 the error message experience could be improved to try and help the user understand how to take action on the error. In both of those cases the issue was that an external cab file was missing. This should be explained to the user while also making it easier to report errors with error detail without having to resort to a screenshot.

[2020-10-13 05:57] activescott commented on #141
Closing this one and using #148 to track the improvement to add specific error message if a particular external .cab file can't be found.

[2020-10-13 05:57] #141 closed

[2020-10-13 06:06] #148 closed

[2020-10-13 06:08] activescott commented on #148
:tada: This issue has been resolved in version 1.7.0 :tada:

The release is available on:
- `v1.7.0`
- [GitHub release](https://github.com/activescott/lessmsi/releases/tag/v1.7.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-10-14 16:55] activescott opened #150 "docs: Deploying & Publishing New Versions section in readme is no longer accurate."
The section at https://github.com/activescott/lessmsi#deploying--publishing-new-versions is no longer access since affc1c71e373b15b213ea78f7dbdf0a986813afd

[2020-10-17 09:25] necros2k7 opened #151 "Feat. req. Any way to recompress MSI for size reducing?"
subj

[2020-10-17 19:16] activescott commented on #151
[MSI files certainly support compression](https://docs.microsoft.com/en-us/windows/win32/msi/using-cabinets-and-compressed-sources) and this lessmsi utility will extract files from the compressed media, but lessmsi doesn't have a way to add compression to an existing msi.

If I didn't understand your question, please feel-free to re-open this and clarify.

[2020-10-18 13:44] necros2k7 commented on #151
Can it be possibly implemented in future?

[2020-10-21 03:49] activescott commented on #151
Sure it's possible. I'm happy to keep open to gauge interest. This isn't something that I'm in need of myself, but I'd be eager to plan and support someone implementing a PR to support this feature.

[2020-10-21 04:00] #150 closed

[2020-10-26 12:25] ysb33r commented on #91
Did you ever got a chance to look at this?

[2020-10-27 06:53] activescott commented on #91
Thanks for the ping! Unfortunately I did not. I'll try to get back to this and investigate sometime this week. I do have a windows vm setup for lessmsi dev handy again, so it's feasible!

[2020-10-29 05:11] activescott commented on #91
@ysb33r Seems to be working for me. I ran this:

    C:\Users\scott\Downloads>.\lessmsi-v1.7.0\lessmsi.exe x node-v6.2.0-x64.msi node-from-cli\

Stdout output was:

[code]

I tried with source and from the binaries in the latest release zip at https://github.com/activescott/lessmsi/releases/tag/v1.7.0

If you're still having problems can you please provide more detail so I can try to narrow it dow

[2021-01-05 08:53] learn-more commented on #134
I'd like to take a stab at this when #154 and #155 are merged.

@activescott The simplest thing would probably be filtering the active selected table.
Do you have any suggestions how to visually display search results over multiple tables?
Would it be acceptable to load all tables in memory when loading a file, or should this be done on-demand while searching?

[2021-01-06 14:41] StrollStars commented on #134
I know how to search.

[2021-01-06 14:53] StrollStars opened #156 "Failed to extract files from KutoolsforExcelSetup.msi"
**Describe the bug**
Failed to extract files from KutoolsforExcelSetup.msi

**To Reproduce**
Steps to reproduce the behavior:
1. Download the [KutoolsforExcelSetup.msi](https://download.extendoffice.com/downloads/KutoolsforExcelSetup.msi)
2. Select All and Extract files from KutoolsforExcelSetup.msi
3. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

[2021-01-07 07:56] activescott commented on #134
@learn-more if you want to reopen this feel free or let me know if you cannot. The filegrid has a search behavior (you have to enter characters while it has focus) and we should probably look at a way to generalize that and apply it to the table (and maybe make it more discoverable).

@StrollStars if you aren't interested in the notifications you can unsubscribe on the right 👉  - if you don't thin

[2021-01-07 07:58] activescott commented on #156
Thanks for reporting this! I'll take a look. Usually these .cab file issues are either super trivial or super hard. 🤞 for the former.

[2021-01-07 08:48] learn-more commented on #134
@activescott I cannot reopen this (But I can work on it with just a PR).

I already took a look at the sorting to make it more generic and I have a few ideas for that.
I'll create a PR for that so you can comment on it after my other PR is closed.

[2021-01-08 06:45] activescott commented on #150
:tada: This issue has been resolved in version 1.8.0 :tada:

The release is available on:
- `v1.8.0`
- [GitHub release](https://github.com/activescott/lessmsi/releases/tag/v1.8.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-01-08 23:58] 89z commented on #131
Here is another way to do this, using Python:

[code]

[2021-01-11 11:10] miles192 commented on #119
I also see this issue in our terrible installer files.
Quick fix is to limit the progress value to the max value. It gets to 100% too early but doesn't crash out.

[2021-01-16 08:58] StrollStars commented on #134
@activescott I am used to closing the resolved issues, please don’t care.

[2021-02-01 17:01] bovirus opened #163 "LessMSI 1.8.1 - About window with text string too big"
**Describe the bug**

The About window contain truncated and wrapped line because the ABOUT window is too small (and cannot be enlarged) and text font are too big.

![image](https://user-images.githubusercontent.com/1262554/106491639-5dc64600-64b7-11eb-8eab-abb01fada536.png)

The windows should be more larger by default for both MAIN and ABOUT window.

![image](https://user-images.githubuserconten

[2021-02-19 08:39] xRageHead opened #164 "This msi file references a CAB file that is not embedded inside of the msi file itself."
This msi file references a CAB file that is not embedded inside of the msi file itself. The msi file is named Media1.cab and was expected to be in the following folder: C:\Users\j4846\AppData\Local\Temp\Rar$DRa0.702\title_update_7_EN

Technical Detail:

   at LessMsi.Msi.Wixtracts.CabsFromMsiToDisk(Path msi, Database msidb, String outputDir)
   at LessMsi.Msi.Wixtracts.ExtractFiles(Path msi, Strin

[2021-02-22 00:54] activescott commented on #164
Thanks @xRageHead. Do you have the msi file so we can test by chance?

[2021-04-01 19:58] sergeevabc commented on #137
[code]
Could you be so kind to pack this whole zoo into one neat executable?

[2021-06-08 05:28] Maxim-Mazurok opened #167 "Add an overwrite option"
**Describe the bug**
Please, add "overwrite" files in the destination option. Instead of adding `*.duplicate1` files, I'd like lessmsi to overwrite files in the destination.

**To Reproduce**
Steps to reproduce the behavior:
1. Use lessmsi to extract some msi
1. Use lessmsi to extract the same msi
4. Observe `*.duplicate1` files, and no option to overwrite instead

**Expected behavior**
I'd like t

[2021-06-12 05:52] activescott commented on #167
Thanks @Maxim-Mazurok. CLI or GUI?

If you or or anyone else is interested in contributing let me know. Happy to discuss or help guide in any way at all.

[2021-06-12 07:02] Maxim-Mazurok commented on #167
I'm using CLI, thanks in advance :)

[2021-10-22 14:11] hairycactus opened #169 "Unable to "Copy" non-embedded CAB file in same folder as MSI, if Source Path = Destination Path"
### Observed Behaviour:
LessMSI is unable to detect non-embedded/ external CAB file located in the same folder as the MSI file -- if the output folder path is the same as the source folder containing both the MSI & CAB files.

Eg.
Source Folder: `X:\Temp\SourceMSI\` (containing MSI & CAB files)
Destination Folder: `X:\Temp\SourceMSI\`

Depending on the specific MSI & accompanying CAB files, LessMS

[2021-10-25 04:07] #169 closed, assigned to activescott

[2021-10-31 06:59] #1 closed

[2021-10-31 07:01] activescott commented on #1
:tada: This issue has been resolved in version 1.9.0 :tada:

The release is available on:
- `v1.9.0`
- [GitHub release](https://github.com/activescott/lessmsi/releases/tag/v1.9.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-01 15:18] mirh commented on #106
Actually, I just found out they aren't.
You can find file sixaxis.inf in your %TEMP% folder when you run the installer normally for example.
But be it in the .msi, or from the other files you get with /extract, that's nowhere to be seen instead.

[2021-11-03 03:02] activescott commented on #76
To the best of my knowledge extracting streams actually accomplishes this ask. Since there hasn't been engagement on this I'm going to close it. If anyone has a concern or advice feel free to reopen.

[2021-11-03 03:02] #76 closed

[2022-01-13 13:49] niheaven opened #173 "Cannot open 'MicrosoftEdgeEnterpriseX64.msi' (v97.0.1072.55)"
**Describe the bug**

lessmsi cannot open recent `MicrosoftEdgeEnterpriseX64.msi`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://msedge.sf.dl.delivery.mp.microsoft.com/filestreamingservice/files/4726286f-d08f-4d1c-9d86-8cc88d8ca208/MicrosoftEdgeEnterpriseX64.msi'
2. Drag 'n drop this file into Lessmsi, nothing happened
3. `lessmsi MicrosoftEdgeEnterpriseX64.msi` output null

[2022-02-09 17:56] STaRDoGG opened #174 "Extract files w/out paths?"
Is there a way to **just** extract the files themselves, without lessmsi also re-creating the folder paths inside the msi?

i.e. I extract to the path `C:\blah\`, (`lessmsi.exe x "{file}" C:\blah\`) and all files get extracted by themselves into that folder, rather than say extracted like: `C:\blah\SourceDir\Something\<the files>`

[2022-04-08 00:40] jjurkus commented on #173
This is because the msi has no files in it, it is just a wrapper for an installer in a customaction table. The installer contains all the files. So you could just as well take the .exe version and see if you can extract that.

[2022-04-21 05:29] activescott commented on #173
Thanks @jjurkus !! 🙌

@niheaven If you think we're missing something here, feel free to leave a comment and reopen the issue. Thanks for submitting though.

[2022-04-21 05:29] #173 closed

[2022-05-17 15:28] jjurkus commented on #156
@activescott
This doesn't look like it uses a .cab file. Here it stopped on a file for the chinese translation. Maybe this has to do something with encoding.

[2022-05-17 18:02] activescott commented on #156
Based on the call stack it was almost certainly using a CAB originally. If the latest MSI doesn't have a CAB maybe it has changed since this was reported

[2022-05-29 10:55] marakew opened #175 "allow unpack msi if some cab are missing"
[code]

[2022-05-29 14:43] activescott commented on #175
Thanks @marakew! Would you be interested in submitting a pull request for this? I'm open to accepting this if we can make it optional. This is used as a shell script for many users and ignoring such failures may cause a problem for them. I could look into it and advise how to make it optional if that helps.

Or if you're looking for someone else to take it from here (😢😉) let us know and we can see

[2022-05-29 16:14] marakew commented on #175
too small changes for pull request
iam patch for self and all works
and just share my changes

[2022-05-29 22:48] activescott commented on #175
Fair enough. Thanks for sharing!

[2022-08-02 15:34] pstein opened #176 "Not working any more for all .msi packages"
Have a look at this free software:

https://github.com/emoacht/Wifinian/releases

After extracting the *.zip files I got an *.msi file.

This file cannot be extracted DIRECTLY with LessMSI Extract.
I have to first show the content, mark the files and then extract the content.

Could you make it directly extractable?

[2022-08-02 15:58] activescott commented on #176
Hi @pstein 👋 Can you please clarify what you mean by "directly extractable"? Do you want to not have to show the content and mark the files?

[2022-08-02 16:27] pstein commented on #176
Directly extractable means: be able to right click on a .msi file and select "Lessmsi extract files" Windows Explorer context menu and let it extract. When I select it currently a milliseconds flash appears but no extract happens.

I have to select "Lessmsi Explore" context menu, then click on "Select All" button and then "Extract" Button to really extract all files.

[2022-08-04 10:51] srebilla commented on #130
I really need it on my current project. I would really appreciate it if you could merge it !

[2022-08-04 20:31] activescott commented on #130
@TheBudman any chance you still have a patch you could upload here? A zip or whatever you have would be great!

[2022-08-04 20:32] activescott commented on #130
@srebilla @Mgamerz Do you have a link to an .msi with duplicates and the name of the files that you’re trying to get out to at don’t work? Or upload an .msi to this thread.

[2022-09-19 02:00] homes32 opened #177 "Return non-zero exit code on error"
I would love for the cli version to return a non-zero exit code when an error is encountered. Currently if I am extracting a file via a script there is no way my script can tell if the operation failed and make a decision on what to do next.

Example:

0 - Success
1 - MSI file not found
2 - Extraction failed
3 - File not found in MSI
...

[2022-09-20 17:02] activescott commented on #177
Great suggestion. I'd welcome a PR and be happy to support you if you're interested in adding it. I'll put this high on the list though as I can see how it'd be super useful. Thank you for taking the time to leave the suggestion!